<div class="page-header">
  <h1>Arquivos</h1>
</div>


<div class="row">
<% for node in @dbox %>
	<div class="col-md-3">
		<%= render partial: "shared/application/itemvert", locals: {node: node} %>
	</div>
<%end%>
</div>
