

<div class="row">
  <div class="col-sm-4 search-sidebar">
    <!-- <h2>Busca Avançada</h2> -->
    <!-- <div class="media">
      <div class="media-left">
        <span class="glyphicon glyphicon-list" style="font-size: 40px" aria-hidden="true" />
      </div>
      <div class="media-body">
        <h4 class="media-heading">Filtros</h4>
        Nenhum selecionado
      </div>
    </div> -->

    <div class="nestedAccordion">
      <h3 class="dropdown open">Matérias<span class="caret caret-align-right"/></h3>

      <div class="dropdown-element">
        <h4 class="dropdown">Matemática<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">Conjuntos</option>
              <option value="">Soma</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="AL">Álgebra</option>
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">Biologia<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">Plantas</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">História<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">História do Brasil</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">Língua Portuguesa<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">...</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">Geografia<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">...</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">Ciências<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">...</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">Educação Física<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">...</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
        <h4 class="dropdown">Inglês<span class="caret caret-align-right"/></h4>

        <div>
          <select class="select-tag-container" multiple="multiple">
            <option value="">Todos</option>
            <optgroup label="Básico">
              <option value="">...</option>
              <option value="">...</option>
            </optgroup>
            <optgroup label="Avançada">
              <option value="">...</option>
            </optgroup>
          </select>
        </div>
      </div>
      <!--fim materias -->
      <h3 class="dropdown open">Conteúdo<span class="caret caret-align-right"/></h3><!--Tipo 1-->
      <div class="dropdown-element">
        <table class="tipo1" style="width:100%">
          <tr>
            <td><p>Mídia</p></td>
            <td></td>
          </tr>
          <tr>
            <td><input type="checkbox"> Fotos</td>
            <td><input type="checkbox"> Imagens</td>
          </tr>
          <tr>
            <td><input type="checkbox"> Áudio</td>
            <td><input type="checkbox"> Vídeos</td>
          </tr>
          <tr>
            <td><input type="checkbox"> Apresentações Multimídia</td>
            <td><input type="checkbox"> Apps</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><p>Textos</p></td>
            <td></td>
          </tr>
          <tr>
            <td><input type="checkbox"> Anais</td>
            <td><input type="checkbox"> Artigos Web</td>
          </tr>
          <tr>
            <td><input type="checkbox"> Capítulos de Livros</td>
            <td><input type="checkbox"> Dissertações</td>
          </tr>
          <tr>
            <td><input type="checkbox"> Livros</td>
            <td><input type="checkbox"> Monografias</td>
          </tr>
          <tr>
            <td><input type="checkbox"> Periódicos</td>
            <td><input type="checkbox"> Revistas</td>
          </tr>
          <tr>
            <td><input type="checkbox"> Teses</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><p>Outros</p></td>
            <td></td>
          </tr>
          <tr>
            <td><input type="checkbox"> Planos de Aula</td>
          </tr>
        </table>
      </div>
      <!--  <h3>Conteúdo - Tipo 2</h3>
        <div>
          <h4>Mídia</h4>
            <div>
              <table>
              <tr>
                <td><input type="checkbox">Fotos</td>
                <td><input type="checkbox">Imagens</td>
              </tr>
              <tr>
                <td><input type="checkbox">Vídeos</td>
                <td><input type="checkbox">Áudio</td>
            </tr>
            <tr>
                <td><input type="checkbox">Apresentações Multimídia</td>
                <td><input type="checkbox">Apps</td>
              </tr>
            </table>
            </div>
            <h4>Textos</h4>
            <div>
              <table>
              <tr>
                 <td><input type="checkbox">Anais</td>
                <td><input type="checkbox">Artigos Web</td>
              </tr>
              <tr>
                <td><input type="checkbox">Capítulos de Livros</td>
                <td><input type="checkbox">Dissertações</td>
            </tr>
            <tr>
                <td><input type="checkbox">Livros</td>
                <td><input type="checkbox">Monografias</td>
              </tr>
              <tr>
                <td><input type="checkbox">Periódicos</td>
                <td><input type="checkbox">Revistas</td>
              </tr>
              <tr>
                <td><input type="checkbox">Teses</td>
                <td></td>
              </tr>
            </table>
            </div>
            <h4>Outros</h4>
            <div>
              <input type="checkbox">Planos de Aula
            </div>
        </div> -->
      <h3 class="dropdown">Ano escolar<span class="caret caret-align-right"/></h3>

      <div class="dropdown-element">
        <table style="width:100%">
          <tr>
            <td><input type="checkbox">1º</td>
            <td><input type="checkbox">5º</td>
          </tr>
          <tr>
            <td><input type="checkbox">2º</td>
            <td><input type="checkbox">6º</td>
          </tr>
          <tr>
            <td><input type="checkbox">3º</td>
            <td><input type="checkbox">7º</td>
          </tr>
          <tr>
            <td><input type="checkbox">4º</td>
            <td><input type="checkbox">8º</td>
          </tr>
        </table>
      </div>
      <h3 class="dropdown">Ano de Publicação<span class="caret caret-align-right"/></h3>

      <div class="dropdown-element">
        <input type="radio" name="ano" value="single" checked>Ano:<br/>
        <input type="text" name="ano1" size="8">
        <br/>
        <input type="radio" name="ano" value="range">Intervalo:<br/>
        <input type="text" name="ano2" size="8"> - <input type="text" name="ano2" size="8">
      </div>
    </div>
    <!-- fim div class="nestedAccordion"-->

    <div class="nestedAccordion">
      <h3 class="dropdown">Pesquisa Avançada<span class="caret caret-align-right"/></h3>

      <form method="get">
        <div class="dropdown-element">
          <table style="width:100%">
            <tr>
              <td>Todas estas palavras:</td>
              <td><input type="text" name=""></td>
            </tr>
            <tr>
              <td>A frase exata:</td>
              <td><input type="text" name=""></td>
            </tr>
            <tr>
              <td>Qualquer uma destas palavras:</td>
              <td><input type="text" name=""></td>
            </tr>
            <tr>
              <td>Nenhuma destas palavras:</td>
              <td><input type="text" name=""></td>
            </tr>
            <tr>
              <td></td>
              <td align="right"><br>
                <button type="submit" class="btn btn-default">Pesquisar</button>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
  <!--/span col sm-4-->

  <!-- search results -->
  <div class="col-sm-8">
    <% unless @results.empty? %>
        <div>

          <form method="get">
            <input type="hidden" name="qry" value="<%= params["qry"] %>">

            <select name="paginacao" onchange='this.form.submit()'>
              <option value="<%= @npagnac %>">Resultados por Página</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
            </select>

            <select name="sort" onchange='this.form.submit()'>
              <option value=<%= @ordena %>>Ordenar por</option>
              <option value="author">Autores</option>
              <option value="publicationasc">Mais novos</option>
              <option value="publicationdesc">Mais velhos</option>
              <option value="relevance">Relevância</option>
              <option value="type">Tipo</option>
              <option value="title">Título</option>
            </select>
          </form>
          <br/>
        </div>
        <br/>

        <div class="container-fluid">
          <%for node in @results%>
              <div class="col-md-12">
              <%= render partial: "shared/application/item_horizontal", locals: {node: node} %>
              </div><br>&nbsp;<hr><br>
          <%end%>

        </div>
    <% end %>
  </div>
  <!-- col-sm-8 -->
</div><!-- /container -->
