<script id="item-template" type="text/template">
	<div class="col-sm-2">
		<a href="{{path}}"><img class="img-responsive" src="{{path_thumbnail}}"></a>
		<h3>{{name}}</h3>
	</div>
</script>


<script id="container-template" type="text/template">
	<%=link_modal "sss",@classe%>
	{{{main}}}
</script>

<script id="link-template" type="text/template">
	<a href="{{path}}">{{name}}</a>
</script>
