<script id="item-template" type="text/template">
<div class="col-md-6">
	<div class="object-horizontal">
	  <div class="media">
	    <div class="media-left media-middle">
	      <a href="{{path}}">
	        <img src="{{thumbnail}}" alt='image' width=120>
	      </a>
	    </div>
	    <div class="media-body">
	      <h4 class="media-heading">{{name}}</h4>
	      <span>Por <a>Usuário&nbsp;</a></span><br/>
	      <span class="glyphicon glyphicon-eye-open"></span>
	      <span class="glyphicon glyphicon-star"></span><br>

	        
	    </div>
	  </div>
	</div>
</div>
</script>
