<div class="page-header">
  <h1>Eventos</h1>
</div>

<%= render('form',modal:true,id:"addevent")%>

<div id="main">
	<%for event in @events%>
		<div class="col-md-2">
			<%= render partial: "shared/application/itemvert", locals: {node: event} %>
		</div>
	<%end%>
</div>
