
<%= render partial: "shared/application/form", locals: {id:"add", modal:true, action:"/subjects"} %>

<div class="page-header">
  <h1>Assuntos</h1>
</div>

<ul class="nav nav-justified">
	<li><%=link_neex "Todas<span class='badge'>#{Vertice::Subject.count}</span>",""%></li>
	<li><%=link_neex "Linguas<span class='badge'>#{Vertice::Language.count}</span>","languages"%></li>
	<%if current_user.present?%>
		<li><a href="#" data-toggle="modal" data-target="#add"> Criar </a></li>
	<%end%>
	<li class="navbar-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." id="searcher">
			<span class="input-group-btn">
			<button class="btn btn-default" type="button" onclick="neex_searcher('searcher','#main','')">Go!</button>
			</span>
		</div>
	</li>
</ul><hr>

<div id="main">
	<%for subject in @subjects%>
		<div class="col-sm-2">
			<%= render partial: "shared/application/itemvert", locals: {node: subject} %>
		</div>
	<%end%>
</div>
