<div class="object-horizontal">
  <div class="media">
    <div class="media-left media-middle">
      <a href="<%=node.path%>">
        <img src="<%=node.path_thumbnail%>" alt='thumbnail' width=120>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= node.name %></h4>
      <span>Por <a>Usuário&nbsp;</a></span><br/>
      <span class="glyphicon glyphicon-eye-open">200</span>
      <span class="glyphicon glyphicon-star">4,5</span><br>
        <%= node.description %>
        <br/>
      <br/>
      Em<b> Biologia</b>, <b>Biologia Marinha</b>
    </div>
  </div>
</div>
