<div class="page-header">
    <h1>Universidades</h1>
</div>



<ul class="nav nav-justified">
	<li><%=link_neex "Todas<span class='badge'>#{Vertice::University.count}</span>",""%></li>
	<li class="navbar-form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for..." id="searcher">
			<span class="input-group-btn">
			<button class="btn btn-default" type="button" onclick="neex_searcher('searcher','#main','')">Go!</button>
			</span>
		</div>
	</li>
</ul><hr>

<div id="main">
<%for university in @universities%>
	<div class="col-md-2">
		<%= render partial: "shared/application/itemvert", locals: {node: university} %>
	</div>
<%end%>
</div>
